<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="">

  <%= form_tag(create_path, method: "post", enctype:"multipart/form-data") do %>
    <div class="row">
      <div class="col-xs-3"><%= label_tag :name, "Name:" %></div>
      <div class="col-xs-9"><%= text_field_tag :name %></div>
    </div>

    <div class="row">
      <div class="col-xs-3"><%= label_tag :last_name, "Last name:" %></div>
      <div class="col-xs-9"><%= text_field_tag :last_name %></div>
    </div>

    <div class="row">
      <div class="col-xs-3"><%= label_tag :username, "Username:" %></div>
      <div class="col-xs-9"><%= text_field_tag :username %></div>
    </div>

    <div class="row">
      <div class="col-xs-3"><%= label_tag :email, "Email:" %></div>
      <div class="col-xs-9"><%= text_field_tag :email %></div>
    </div>

    <div class="row">
      <div class="col-xs-3"><%= label_tag :phone_number, "Phone number:" %></div>
      <div class="col-xs-9"><%= text_field_tag :phone_number %></div>
    </div>

    <div class="row">
      <div class="col-xs-3"><%= label_tag :website, "Website:" %></div>
      <div class="col-xs-9"><%= text_field_tag :website %></div>
    </div>

    <div class="row">
      <div class="col-xs-3"><%= label_tag :location, "Location:" %></div>
      <div class="col-xs-9"><%= text_field_tag :location %></div>
    </div>

    <div class="row">
      <div class="col-xs-3"><%= label_tag :about, "About:" %></div>
      <div class="col-xs-9"><%= text_field_tag :about %></div>
    </div>

    <div class="row">
      <div class="col-xs-3"><%= label_tag :picture, "Picture:" %></div>
      <div class="col-xs-9">
        <input id="doctor_avatar" type="file" name="avatar">
      </div>
    </div>


    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-2"><%= submit_tag "Submit", class: "btn btn-large btn-primary" %></div>
      <div class="col-xs-2"><%= link_to "Cancel", root_path, class: "btn btn-large" %></div>
    </div>

<% end %>
  </div>
</div>