<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @doctor.name %>,</h1>
    <p>
      Here is your passwod: <%= @doctor.password %>
    </p>
  </body>
</html>
