<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Hello <%= @user.username %>,</h1>
		<p>
			You can confirm your account email through the link below:
		</p>
		<p>
		<a href="<%= root_url %>/confirmation_mail?verification_email_token=<%= @user.verification_email_token%>">Click Here</a>
		</p>
	</body>
</html>