$height: 60px;
$line-height: 60px;
$main-color: #6902E1;
$second-color: rgb(212, 212, 212);


@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);



@font-face {
    font-family: "American";
    src: url('/fonts/ufonts.com_american-typewriter.ttf'), url('/fonts/ufonts.com_american-typewriter.eot');
    font-weight: normal;
    font-style: normal;
}


* {
	font-family: 'Roboto', sans-serif;
}

body {
	color: black;
	background: white;
	/*font-family: 'Roboto', sans-serif;*/
	padding: 0px !important;
	margin: 0px !important;
	font-size: 16px;

}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto !important;
}
.row{
	width: 172px;
}

.content{
	width: 80%;
	margin: 0 auto;
}



/*Errors CSS*/
